{% if config.mouse_config %}
<div class="row">
    <section class="col-md-12">
        <div class="row">
            <header class="col-md-12 uppercase">
                <h3>Настройки мышки</h3>
            </header>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul class="list-unstyled">
                    {% if config.mouse_config.dpi is not None %}
                    <li class="config_items">
                        <div>DPI:</div>
                        <div>{{ config.mouse_config.dpi }}</div>
                    </li>
                    {% endif %}
                    {% if config.mouse_config.edpi is not None %}
                    <li class="config_items">
                        <div>EDPI:</div>
                        <div>{{ config.mouse_config.edpi }}</div>
                    </li>
                    {% endif %}
                    {% if config.mouse_config.usb_rate is not None %}
                    <li class="config_items">
                        <div>USB rate:</div>
                        <div>{{ config.mouse_config.usb_rate }}</div>
                    </li>
                    {% endif %}
                    {% if config.mouse_config.win_sens is not None %}
                    <li class="config_items">
                        <div>Чувствительность windows:</div>
                        <div>{{ config.mouse_config.win_sens }}</div>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-unstyled">
                    {% if config.mouse_config.win_sens is not None %}
                    <li class="config_items">
                        <div>Чувствительность в игре:</div>
                        <div>{{ config.mouse_config.game_sens }}</div>
                    </li>
                    {% endif %}
                    {% if config.mouse_config.win_sens is not None %}
                    <li class="config_items">
                        <div>Чувствительность в прицеле:</div>
                        <div>{{ config.mouse_config.zoom_sens }}</div>
                    </li>
                    {% endif %}
                    {% if config.mouse_config.raw_input is not None %}
                    <li class="config_items">
                        {% if config.mouse_config.raw_input %}
                        <div>Raw input:</div>
                        <div>1</div>
                        {% else %}
                        <div>Raw input:</div>
                        <div>0</div>
                        {% endif %}
                    </li>
                    {% endif %}
                    {% if config.mouse_config.win_sens is not None %}
                    <li class="config_items">
                        <div>Ускорение мыши:</div>
                        <div>{{ config.mouse_config.mouse_acceleration }}</div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </section>
</div>
{% endif %}