{% if config.viewmodel_config %}
{% if config.viewmodel_config.viewmodel_settings is not Null %}
<div class="row">
    <section class="col-md-12 unborder-left">
        <div class="row">
            <header class="col-md-12 uppercase">
                <h3>Настройки viewmodel</h3>
            </header>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="console console-crosshair">
                    <textarea autocomplete="off" wrap="on">{{ config.viewmodel_config.viewmodel_settings }}</textarea>
                </div>
            </div>
        </div>
    </section>
</div>
{% endif %}
{% endif %}