{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'gcf/style.css' %}">
    <script src="https://kit.fontawesome.com/9581e0ccfc.js" crossorigin="anonymous"></script>
    {% bootstrap_css %}
</head>

<body class="main-bg">
    {% include 'gcf/_nav.html' %}
    <div class="container">
        {% block app_content %}
        {% endblock %}
    </div>

    {% bootstrap_javascript jquery='full' %}
</body>

</html>