{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="{% static 'gcf/css/all.css' %}" rel="stylesheet">
    <script defer src="{% static 'gcf/js/all.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'gcf/css/style.css' %}">
    {% bootstrap_css %}
</head>

<body class="main-bg">
    {% include 'gcf/_nav.html' %}
    <div class="container">
        {% block app_content %}
        {% endblock %}
    </div>

    {% bootstrap_javascript jquery='full' %}
</body>

</html>