{% extends 'gcf/base.html' %}
{% block app_content %}
<div class="row">
    <div class="div col-md-12">
        <h1>Конфиг игрока {{ player.nickname }} по {{ game.name }}</h1>
    </div>
    <div class="col-md-3">
        {% include 'gcf/_player_info.html' %}
    </div>
    <div class="col-md-8">
        {% include 'gcf/_mouse_settings.html' %}
        {% include 'gcf/_video_settings.html' %}
        {% include 'gcf/_crosshair_settings.html' %}
        {% include 'gcf/_start_settings.html' %}
        {% include 'gcf/_additional_games.html' %}
    </div>
</div>
{% endblock %}