{% extends 'gcf/base.html' %}
{% block app_content %}
<div class="row">
    <div class="row col-md-12">
        <h1>Конфиг игрока {{ player.nickname }} по {{ game.name }}</h1>
    </div>
    <div class="col-md-4">
        <div class="row">
            <h2>{{player.nickname}}</h2>
        </div>
        <div class="row">
            <p>Photo</p>
        </div>
        <div class="row">
            <h6>Информация о игроке</h2>
        </div>
        <div class="row">
            <ul>
                <li>Имя: {{ player.name }}</li>
                <li>Команда: {{ player.age }}</li>
                <li>Возраст: {{ player.age }}</li>
            </ul>
        </div>
        <div class="row">
            <h6>Описание</h6>
        </div>
        <div class="row">
            <p>{{ player.description }}</p>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <ul>
                <li>DPI: {{config.mouse_config.dpi}}</li>
            </ul>
        </div>
        <div class="row">
            {% if player.games.all %}
            <h2>Player games:</h2>
        </div>
        <div class="row">
            <div>
                <ul>
                    {% for game in player.games.all %}
                    <li>{{ game.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}