.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0px!important;
}

.h3, h3 {
    font-size: 1.1rem!important;
}

nav a {
    color: #00aeee!important;
}

ul, ol {
    margin-bottom: 0px!important;
}

ul li:first-child {
    margin-top: 0;
  }

.h2, h2 {
    font-size: 1.4rem!important;
}

section {
    background-color: #323c53;
    border-radius: 4px;
    padding-bottom: 15px;
    margin-bottom: 12px;
}

section header {
    background-color: rgba(36,45,68,.4);
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

body {
    color: #fefefe!important;
}

.stats-nums {
    display: flex;
    flex-flow: row;
}

.stats-nums div:first-child {
    margin-right: 7px;
}

.stat-success {
    color: #4fda4f!important
}

.stat-unsuccess {
    color: #ff5f5f!important
}

.player-pic {
    max-width: 100%;
    margin-bottom: -15px;
    margin-top: -15px;
}

.uppercase {
    text-transform: uppercase;
}

.main_header {
    margin-bottom: 15px;
    margin-top: 15px;
}

.centered {
    justify-content: center;
}

.unborder-right {
    border-top-right-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
}

.unborder-left {
    border-top-left-radius: 0px!important;
    border-bottom-left-radius: 0px!important;
}

.config_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5px;
}

.main-bg {
    background-color: #242d44;
}

.header-bg {
    background-color: #404b62;
}


.console {
    font-size: 14px;
    color: #ffffff; 
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 4px;
    background: #242d44;
    font-size: 14px;
}

.console textarea {
    color: #ffffff !important;
    resize: none;
    background: none;
    border: none;
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-family: "Courier New", Courier, monospace;
 }

 .console-crosshair textarea {
    height: 200px;
 }

.console-startup textarea {
    height: 40px;
 }

.console textarea:focus {
    outline: none;
}

.main-photo {
    display: flex;
    justify-content: center;
}

.social_links {
    display: flex;
    justify-content: center;

}

.social_links a {
    padding-left: 3px;
    padding-right: 3px;
}